h1 {
  font-size: 35px;
}

h1 {
  font-size: 21px;
  margin-top: 20px;
}

.calculator {
  width: 400px;
  height: 450px;
  background-color: rgb(68, 66, 66);
  padding: 20px 0px 0px 100px;
  border-radius: 10px;
  color: white;
  margin: auto auto 50px auto;
}

input {
  padding: 7px;
  width: 70%;
  margin-top: 7px;
}
